
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    font-size: min(20px, 3vw);
}

h1 {
    text-align: center;
    font-size: 5vw;
}

#container {
    margin: auto;
    max-width: 720px;
}

.sameLine {
    display: flex;
    justify-content: space-between;
}

input {
    width: 75%;
}

button {
    width: 25%;
}

.flex-item:nth-child(even) {
    background-color: lightgray;
}